<div class="container">

  <div class="interno">
    <div id="a1image"><img src="https://i.imgur.com/K4iityQ.jpg" alt=""></div>

    <section id="bin">
      <div class="header">
        <h1>Lago Grande de Manacapuru, Brazil</h1>
      </div>
      <div class="columnContainer">
        <div class="c1">
          <table>
            <tbody>
              <tr>
                <th>Brazil, Amazonas, Manacapuru</th>
              </tr>
              <tr>
                <th>The aquarium recreates the flooded area near the Lago Grande de Manacapuru. It is a blackwater area, due to all the surrouding vegetation. The water is very acidic and soft.</th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="c2">
          <table>
            <tbody>
              <tr>
                <th>GPS</th>
                <th>
                  -3.0773740, -61.5096169</th>
              </tr>
            </tbody>
          </table>
          <div class="imgContainerGPS">
            <img src="https://i.imgur.com/5PzUbtU.png" alt="">
          </div>
        </div>
        <div class="c3">
          <table>
            <tbody>
              <tr>
                <th id="left">Geogrphic al region</th>
                <th>South America</th>
              </tr>
              <tr>
                <th id="left">Drainage Basin</th>
                <th>Lago</th>
              </tr>
              <tr>
                <th id="left">River catchment</th>
                <th>Rio Manacapuru</th>
              </tr>
              <tr>
                <th id="left">Water body type</th>
                <th>River</th>
              </tr>
              <tr>
                <th id="left">Water body name</th>
                <th>Rio Manacapuru</th>
              </tr>
              <tr>
                <th id="left">Water body part</th>
                <th>Pool</th>
              </tr>
              <tr>
                <th id="left">Water body course</th>
                <th>Middle course</th>
              </tr>
              <tr>
                <th id="left">Water body tributary of</th>
                <th>River</th>
              </tr>
              <tr>
                <th id="left">Tributary name</th>
                <th>Rio Manacapuru</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>









    <section id="a0">
      <a href="https://www.youtube.com/watch?v=f4ZMfWtfz2k" target="_blank">
        <h1>Puedes ver el video pinchando encima!</h1>
        <img
          src="https://i.ytimg.com/vi/f4ZMfWtfz2k/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLA_6keUTyk8kgOMXetrfy84l9yZtQ"
          alt="">
      </a>
    </section>


    <section id="a1">

      <p>El río Manacapuru es una imponente vía fluvial situada en la región amazónica de Brasil, conocida por su
        diversidad acuática y belleza natural. La zona acuática de este majestuoso río alberga un ecosistema único y
        próspero que fascina a biólogos y amantes de la naturaleza por igual.
        <br>En estas aguas cristalinas y serenas, coexisten diversas especies de peces y plantas acuáticas, algunas de
        las cuales son endémicas de la región. Entre los tesoros más notables se encuentran las coloridas especies de
        peces tropicales, como los famosos tetras y los llamativos cíclidos amazónicos.
        <br>El río Manacapuru es un paraíso para los amantes del buceo y la observación de vida acuática. En sus
        meandros, se pueden descubrir paisajes submarinos de ensueño, repletos de corales, formaciones rocosas y peces
        exóticos que componen una sinfonía de colores y formas.
        <br>Además de su valor ecológico, el río Manacapuru también es fundamental para las comunidades locales, que
        dependen de sus aguas para la pesca y la subsistencia. Su preservación y conservación son cruciales para
        mantener el equilibrio de este preciado tesoro natural y garantizar su existencia para las generaciones futuras.
      </p>
    </section>
    <section id="a2">

      <p>Se eligió la recreacción del rio negro por la variedad de escalar elegidos, Pterophyllum scalare Manacapuru,
        que destacan principalmente por un coloración rojiza en la parte superior del cuerpo. Este al ser el primer
        montaje
        de biotopo, se recurrió a una recreación más básica, utilizando troncos de níspero simulando raices entrantes,
        un tronco en el centro a modo de covijo, arena de silice como sustrato, hojas y botánicos. No se utilizó ningún
        tipo
        de plantas acuáticas, como se puede llegar a apreciar en la zona superior derecha, había entrando raices de
        pothos, ya que
        el montaje comunicaba con una zona exterior, esta si plantada.
      </p>
      <p></p>
    </section>

    <section class="inforAquarium">
      <div class="encabezado">
        <h1>Información del acuario</h1>
      </div>
      <div class="columnas-container">
        <div class="columna">
          <h2>Descripción del acuario</h2>
          <table>
            <tbody>
              <tr>
                <td id="left">Fecha de montaje</td>
                <td>July 2020</td>
              </tr>
              <tr>
                <td id="left">Decoración del acuario</td>
                <td>Madera de níspero, arena de silice</td>
              </tr>
              <tr>
                <td id="left">Equipamiento</td>
                <td>Sump, bomba de 12.000l/h(al 25%), 30l de pómice, calentador de titanio</td>
              </tr>
              <tr>
                <td id="left">Cuidado de los peces</td>
                <td>Cambio de agua del 20% semanal.</td>
              </tr>
              <tr>
                <td id="left">Peces</td>
                <td> 8 Pterophyllum scalare Manacapuru, 16 Hyphessobrycon megalopterus, 10 Corydoras sterbai, 5
                  Ancistrus sp., 8 Symphysodon discus.</td>
              </tr>
              <tr>
                <td id="left">Plantas</td>
                <td> </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="columna">
          <h2>Dimensiones</h2>
          <table>
            <tbody>
              <tr>
                <td id="left">Longitud</td>
                <td>120cm</td>
              </tr>
              <tr>
                <td id="left">Profuncidad</td>
                <td>60cm</td>
              </tr>
              <tr>
                <td id="left">Altura</td>
                <td>70cm</td>
              </tr>
              <tr>
                <td id="left">Volumen</td>
                <td>500l</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <section class="inforAquarium">
      <div class="encabezado">
        <h1>Química del agua</h1>
      </div>
      <div class="columnas-container">
        <div class="columna">
          <h2>Información del agua</h2>
          <table>
            <tbody>
              <tr>
                <td id="left">Tipo de agua</td>
                <td>Agua dulce</td>
              </tr>
              <tr>
                <td id="left">Color del agua</td>
                <td>Aguas negras</td>
              </tr>
              <tr>
                <td id="left">Transparencia del agua</td>
                <td>Medio</td>
              </tr>
              <tr>
                <td id="left" [width]="30">Concentración de sedimentos</td>
                <td>Bajo</td>
              </tr>
              <tr>
                <td id="left">Temperatura del agua</td>
                <td> 28ºC</td>
              </tr>
              <tr>
                <td id="left">Flujo de agua</td>
                <td>Bajo</td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="columna">
          <h2>Parámetros del agua</h2>
          <table>
            <tbody>
              <tr>
                <td id="left">pH</td>
                <td>6</td>
              </tr>
              <tr>
                <td id="left">Conducitividad</td>
                <td>200</td>
              </tr>
              <tr>
                <td id="left">GH</td>
                <td>8 mg/l</td>
              </tr>
              <tr>
                <td id="left">KH</td>
                <td>1 mg/l</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <div class="img">

    </div>
  </div>
</div>
