<div class="container">
  <div class="interno">
    <header>
      Biotopo Río Phum Duang
    </header>
    <section id="a0">
      <p>Este biotopo se basa en el Río Phum Duang en la provincia de Surat Thani
        , al sur de Tailandia, el principal afluente del río Tapi. Los ríos drenan un área de 6.125 kilómetros cuadrados
        al oeste de la cuenca del Tapi, principalmente en las laderas orientales de la cordillera de Phuket.
        <br><br>
        Coordenadas: 9°11′50″N 99°22′57″E<br>
        Longitud: 230 kilómetros<br>
        Superfice de cuenca: 11.585 Km²<br>
        Desembocadura: Bahía de Bandon

      </p>
      <img src="https://i.imgur.com/OhC5irM.png" alt="">
    </section>


    <section id="a1">
      <img src="https://i.imgur.com/aeRRKAr.jpg" alt="">
      <p>Se ha seleccionado como base para la recreación del biotopo la imagen mostrada,
        Ya que posee las caractéristicas buscadas para la urna. En la imagen se muestra
        un campo de diversas cryptocorynes, la que más destaca sería una cryptocoryne balansae,
        y otro tipo de cryptocoryne de porte más bajo (estilo Walkeri, Wendtii, ...).
        Como se puede ver, la zona hay dos partes muy marcadas, una zona alta mucho mas poblada,
        y una zona más baja, en la que se llega a apreciar algo de arena.<br>
        Respecto a los peces, se puede encontrar, distintas variedades de rasboras, guramis y barbos
      </p>
    </section>

    <section id="a2">
      <img src="https://i.imgur.com/HLip7Z9.jpg" alt="">
      <p>Para la recreación del biotopo, se ha seleccionado una madera de mangrove como estructra
        principal, la cuál parte el acuario en dos zonas, como bien pasa en la naturaleza. <br>
        La zona alta, está mucho mas poblada por cryptocorynes balansae y cryptocoryne moehlmanii.
        la zona baja, se ha utilizado el mismo tipo de plantas, pero como la indicencia de luz es menor, las
        plantas además de no tornarse rojiza, tienen un crecimiento menor. Como sustrato se ha utlizado una arena
        de silice de grano fino, detallando con dos arenas de silice de un grano un poco inferior. Como detalle hay
        algún
        canto rodado de pequeño tamaño.<br>
        Como botánicos se ha utilizado ancient root para detallar el suelo, y calamus longisetus.<br>
        Como peces, hay un grupo de trichopsis pumila y otro de borara maculata, además de alguna neocaridina.
      </p>
      <p></p>
    </section>



    <div class="img">
      <img src="https://i.imgur.com/wiVXVbD.jpg" alt="" id="foto">
      <img src="https://i.imgur.com/sxyu8ev.jpg" alt="" id="foto">
    </div>
  </div>
</div>
