<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <div class="hamburger-menu" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <a (click)="toggleMenu()" class="aLogo" href="">
        <img src="https://i.pinimg.com/originals/7b/31/b6/7b31b6f72984ed8dc458d64ffed7c2f7.png" alt="" style="width: 70%;">
      </a>

    </div>
    <div class="navbar-center">
      <div class="dropdown">
        <a (click)="ir('America')" class="dropbtn">América

        </a>
        <div class="dropdown-content">

        </div>
      </div>
      <div class="dropdown">
        <a (click)="ir('Africa')" class="dropbtn">África

        </a>
        <div class="dropdown-content">
        </div>
      </div>
      <div class="dropdown">
        <a (click)="ir('Asia')" class="dropbtn">Asia</a>
      </div>

      <div class="dropdown">
        <a href="" class="dropbtn">Europa</a>
      </div>
    </div>
    <div class="navbar-right">

      <a href="">Peces</a>
      <a href="">Productos</a>
    </div>

  </div>

  <div class="sidebar" [ngClass]="{'show': showMenu}">
    <div class="sidebar-icon">
      <a (click)="toggleMenu()">X</a>
    </div>
    <div class="sidebar-family">
      <a (click)="selecction = 1; filtrado('America')">América</a>
      <a (click)="selecction = 2; filtrado('Africa')">África</a>
      <a (click)="selecction = 3;filtrado('Asia')">Asia</a>
      <a (click)="selecction = 4; filtrado('Europa')">Europa</a>
    </div>
    <div class="sidebar-info">
      <div *ngIf="selecction === 1">
        <a (click)="ir('America')">Ver todos</a>
        <div *ngFor="let bio of biotopes">
          <a [routerLink]="['/continente/', bio.continente, bio.href]" (click)="toggleMenu()">{{bio.nombre}} - {{bio.anio}}</a>
        </div>
       </div>
      <div *ngIf="selecction === 2">
        <a (click)="ir('Africa')">Ver todos</a>
        <div *ngFor="let bio of biotopes">
          <a [routerLink]="['/continente/', bio.continente, bio.href]" (click)="toggleMenu()" >{{bio.nombre}} - {{bio.anio}}</a>
        </div>
      </div>
      <div *ngIf="selecction === 3">
        <a (click)="ir('Asia')">Ver todos</a>
        <div *ngFor="let bio of biotopes">
          <a [routerLink]="['/continente/', bio.continente, bio.href]" (click)="toggleMenu()">{{bio.nombre}} - {{bio.anio}}</a>
        </div>
      </div>
      <div *ngIf="selecction === 4">
        <a (click)="ir('Europa')">Ver todos</a>
        <div *ngFor="let bio of biotopes">
          <a [routerLink]="['/continente/', bio.continente, bio.href]" (click)="toggleMenu()">{{bio.nombre}} - {{bio.anio}}</a>
        </div>
       </div>


    </div>


  </div>

</nav>
