.container {
  height: auto;
  background-color: #1E1E1E;
  margin-top: 10vh;
  width: 100%;
}

.interno {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p {
  color: white;
  font-size: 1.9em;
  padding: 50px;
}

header {
  text-align: center;
  font-size: 4em;
  color: white;
  border-bottom: 2px solid white;
}

section {
  display: flex;
  justify-content: center;
  margin: 50px;
}


section img {
  width: 50%;
}

.img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  padding: 50px;
}

#foto {
  width: 80%;
  margin-bottom: 50px;
  border-radius: 10px;
}

p {
  text-align: left;
}

#a0 {
  width: 100%;

}

#a1 img {
  width: 100%;
  height: 50%;
}

#a1image {
  width: 100%;
  height: auto;
}

#a1image img {
  width: 100%;
  height: auto;
}

#a0 a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#a0 a h1 {
  font-size: 2em;
  color: white;
  text-decoration: none;
  border: non;
}

h2 {
  font-size: 3em;
  color: #666;
}

.inforAquarium {
  display: flex;
  flex-direction: column;

}

.encabezado {
  text-align: left;
  /* Alineación del texto al centro */
  font-size: 3em;
  /* Tamaño de la fuente del encabezado */
  font-weight: bold;
  /* Texto en negrita, si lo deseas */
  color: lightblue;

}

.columnas-container {
  display: flex;
 }

 .columna {
  flex: 50%;
 }
 #columnaA1 {
  flex: 60%;
  margin: 20px;
 }

 #columnaA2 {
  flex: 40%;
 }
table {
  color: white;
  font-size: 1.5em;
}

#left {
  color: #999;
  width: 30;
  padding: 5px;
  padding-right: 40px;
}

#bin {
  display: flex;
  flex-direction: column;
}

.columnContainer {
  display: flex;
  flex-direction: row;
}

.c1,
.c2,
.c3 {
  flex: 30%;
  text-align: left;
  margin: 20px;
}

.columnContainer table tbody tr th {
  margin: 10px;
}

.imgContainerGPS {
  width: 90%;
  height: 100%;
}

.imgContainerGPS img {
  width: 100%;
}

.header h1 {
  font-size: 4em;
  color: #ffffff;
}



@media (min-width:1700px) {
  .interno {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  section {
    width: 50%;
    }

   p{
    margin: 0;
    padding: 0;
    text-align: left;
   }

}


@media (max-width: 768px) {
  .container {
     overflow: hidden;
  }

  section {
    flex-direction: column;
  }

  section img {
    width: 100%;
  }

  .img {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
  }

  .img img {
    width: 100%;
  }
  p {
    padding: 30px;
   }

  .columnContainer{
    flex-direction: column;

  }
  .c1, .c2, .c3{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #a0 {
    margin: 0;
    text-align: center;
  }

  th {
    font-size: 16px;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 18px
  }

  .encabezado h1 {
    font-size: 36px;
    text-align: center;
  }
  .columnas-container {
    flex-direction: column;
  }
  .columna h2 {
    font-size: 28px;
  }

  td {
    font-size: 16px;
  }

  .header h1 {
    font-size: 40px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .imgContainerGPS{
     width: 100%;
  }


}
